article {
    padding: 0.75rem 1.5rem;
    border-radius: 0.2rem;
    align-items: center;
    margin: 0 auto 0.5rem auto;
    width: 100%;
    z-index: 1000;
}

.text {
    margin-left: 1rem;
    margin-top: 10px;
}

.transparent {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 0 0 auto;
    line-height: 1;
    font-size: 2rem;
}