.waltzPopover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    opacity: 0.3;
    z-index: 899;
    transition: opacity ease 0.3s;
}

.waltzBackingScreen {
    position: fixed;
    top: 20%;
    right: 20%;
    left: 20%;
    z-index: 900;
    background-color: rgb(255, 255, 255);
    border: 1px solid #999999;
    box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.58);
}