@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.subSectionLoader {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 1px;
    border-top: 1px solid #f9f9f4;
    background-color: #fff;
}

.headerSkeleton {
    height: 16px;
    width: 150px;
    margin: 4px 8px;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 4px;
}

.contentSkeleton {
    height: 60px;
    margin: 6px 16px 12px 16px;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 4px;
}
