.tagList {
    padding-top: 0.5em;
}
.dirty {
    font-weight: bolder;
}
.tag {
    display: inline-block;
    margin-right: 0.33rem;
    padding: 0.2em;
    border-radius: 0.3em;
    background-color: #edf5fd;
    border: 1px solid #c0defa;
    margin-bottom: 0.2em;
}
.tag a {
    text-decoration: none;
    color: inherit;
}
