@import "../../../../../style/variables";

.header {
}

.headerFree {
    background-color: $waltz-section-background-color;
    padding: 6px 6px 6px 16px;
    border-radius: 3px;
    height: 60px;
    margin-left: $waltz-section-margin;
    margin-right: $waltz-section-margin;
    margin-bottom: 12px;
    border: 1px solid $waltz-border-color-lighter;

    h2 {
        margin: 2px 0 4px 0;
        font-size: 22px;

        small {
            margin-left: 0.25rem;
        }
    }
}

.headerSticky {
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: auto;
    z-index: 999;
    border-bottom: 2px solid $waltz-border-color-lighter;
    opacity: 0;
    pointer-events: none;

    h2 {
        margin: 4px;
        padding-top: 2px;
        padding-left: 36px;
        font-size: medium;
        display: inline-block;
    }
}

.stickyVisible {
    opacity: 1;
    background-color: $waltz-section-background-color;
    cursor: pointer;
    pointer-events: all;
}