.stackBox {
    position: relative;
    vertical-align: middle;
    height: 1.25em !important;
    line-height: 1.25em !important;
    width: 1.25em !important;
}

.textMuted {
    color: #6c757d;
}

.ratingIndicator {
    display: inline-flex;
    width: max-content;
    align-items: center;
    gap: 0.5rem;
}
