.waltzTabs {
  input[type="radio"] {
    display: none;

    &:checked + .wtlabel {
      color: #555;
      background: #fff;
      border-color: #ccc;
      font-weight: bolder;
      cursor: default;
      border-top: 3px solid #e36209;
      margin-top: 0;
      position: relative;
      top: 1px;
      border-bottom: 1px solid white;
    }

    &:disabled + .wtlabel {
      color: #999;
      background-color: #eee;
      font-style: italic;
      cursor: not-allowed;
    }
  }

  .wtlabel {
    color: desaturate(#337ab7, 10);
    font-weight: lighter;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #ddd;
    background-color: #fafafa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
    margin-top: 2px;
    margin-right: -4px;
  }

  .wtTab {
    display: none;
    padding: 0 8px;
    clear: left;

    &.wtActive {
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding-top: 6px;
      padding-bottom: 10px;
      border-bottom-left-radius: 3px;
      display: block;
      border-top: 1px solid #ddd;
    }
  }
}
